.botao.ativo{
  border-style:none;
  border-radius:20px;
  color:white;
  background:black;
  font-size:16px;
  padding:10px 30px;
  cursor:pointer;
  width:50%;

}

.botao{
  border-style:none;
  border-radius:20px;
  color:black;
  background-color: inherit;
  font-size:16px;
  padding:10px 30px;
  cursor:pointer;
  width:50%;
}

.botoes{
  margin-top:20px;
  background:#DEFFC3;
  border-radius:20px;
}